<div class="flex items-center mb-2" id="result">
  <i class="fa-regular fa-circle text-green-500 text-3xl md:text-6xl lg:text-5xl mr-2"></i>
  <div class="font-noto text-xl md:text-4xl lg:text-3xl">正解</div>
</div>
