<div class="flex items-center mb-2 lg:mb-0">
  <i class="fa-solid fa-xmark text-red-500 text-3xl md:text-6xl lg:text-5xl mr-2"></i>
  <div id="result" class="font-noto text-xl md:text-4xl lg:text-3xl">不正解</div>
</div>