<%= link_to "https://twitter.com/intent/tweet?url=#{root_url}&text=X問正解！！%0a超すごい！%0a%0a%23RUNTEQ祭%0a%0a", :onclick=>"window.open(this.href,'hoge', 'height=480, width=640');return false;", rel: "noopener noreferrer", data: { toggle: "tooltip", placement: "bottom" } do %>
  <button class="btn btn-lg">X でシェア</button>
<% end %>