<h1 class="bg-orange-600">StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<details class="dropdown">
  <summary class="btn m-1">open or close</summary>
  <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</details>